/* Our CSS file. */


.container, .content {
width: 100%;
height: 100%;
}
.card {
        display: flex;
        height: 310px;
        flex-flow: row wrap;
        margin: 10px;
        border-radius: 10px;
        background-color: white;
}
.card {
    display: flex;
}
img {
    width: 300px;
    height: 300px;
    background-color: lightgreen;
}
.card {
    display: flex;
}
img {
    width: 300px;
    height: 300px;
    background-color: lightgreen;
}
h1{
    width: 100px;
    height: 40px;
    background-color: lightgreen; 
    padding: 10px;
    margin: 100px;
    margin-top: 35px;

}