/* Our CSS file. */


.container, .content {
    width: 100%;
    height: 100%;
    }
    .section{
        height: 50%;
        width: 100%;

    }
    
    h1{
        width:50px;
      }
    
      .right-side{
        display: inline-block;
      } 